@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: url(../img/index/fondo.jpg) no-repeat;
    background-size: cover;
}


/*==============MENU===============*/

#menu li>a {
    font-size: 18px;
    font-weight: bold;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-animation: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .fb {
    background: #3b5998;
}

.social ul li .inst {
    background: #d95232;
}

.social ul li .what {
    background: #00bb2d;
}

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}


/*==============HOME===============
==============SLIDE===============*/

.carousel-inner {
    max-height: 39rem;
}

#intro {
    background: rgba(255, 255, 255, 0.726);
    margin-top: 20px;
    border-radius: 25px;
}


/*======ESTILOS ABOUT======*/

.About {
    padding: 15px;
    color: white;
    border-radius: 15px;
}

.About h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}


/*======ESTILOS FOOTER======*/

footer .container .row a {
    text-decoration: none;
}

footer .container .row .sociales a {
    margin: 0 20px;
}

.footer ul li a:hover {
    transform: scale(1.1);
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-whatsapp:hover {
    color: #00bb2d;
}

.fa-envelope:hover {
    color: #db4a39;
}


/*==============RESPONSIVE===============*/

@media(max-width:768px) {
    #intro {
        width: 90% !important;
    }
    .servicio-fila {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}